/* 폰트 정의 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 헤더 스타일 */
.header {
  font-family: "GmarketSansMedium", sans-serif; /* 폰트 패밀리 변경 */
  background-color: #333;
  color: white;
  padding: 10px;
}

.header .menu {
  display: flex;
}

.header .menu-item {
  left: 150px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

/* 메뉴 아이템 호버 시 배경 색상 */
.header .menu-item:hover {
  background-color: #555;
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
  position: absolute;
  top: 100%; /* 메뉴 아이템 바로 아래에 위치 */
  left: 0;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  display: none; /* 기본적으로 숨김 */
}

.dropdown-menu.show {
  display: flex; /* 드롭다운 메뉴가 열릴 때 */
}

.dropdown-item {
  width: 150px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  font-size: 0.9em;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}
