.loginpage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.loginpage .login-wrapper {
  background-color: #ffffff;
  height: 1300px;
  width: 1440px;
}

.loginpage .login {
  background-color: #ffffff2e;
  border-radius: 20px;
  box-shadow: inset 0px 4px 4px #00000040, 0px 4px 4px #00000040;
  height: 762px;
  left: 470px;
  overflow: hidden;
  position: relative;
  top: 269px;
  width: 500px;
}

.loginpage .portfolio-web-login {
  color: #292929;
  font-family: "Inter-Bold", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 72px;
  left: 150px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 109px;
}

.loginpage .text-wrapper {
  color: #000000;
  font-family: "IBM Plex Serif-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 163px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 510px;
}

.loginpage .google {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  height: 59px;
  left: 87px;
  overflow: hidden;
  position: absolute;
  top: 571px;
  width: 300px;
}

.loginpage .img {
  height: 40px;
  left: 30px;
  position: absolute;
  top: 10px;
  width: 40px;
}

.loginpage .div {
  color: #000000;
  font-family: "IBM Plex Serif-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 127px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
}

.loginpage .google-2 {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 4px #00000040;
  height: 59px;
  left: 87px;
  overflow: hidden;
  position: absolute;
  top: 651px;
  width: 300px;
}

.loginpage .text-wrapper-2 {
  color: #000000;
  font-family: "IBM Plex Serif-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 137px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 17px;
}

.loginpage .rectangle {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #8abfff;
  border-radius: 20px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 50px;
  left: 75px;
  position: absolute;
  top: 292px;
  width: 350px;
}

.loginpage .rectangle-2 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #8abfff;
  border-radius: 20px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 50px;
  left: 75px;
  position: absolute;
  top: 406px;
  width: 350px;
}

.loginpage .user-alt {
  height: 25px;
  left: 85px;
  position: absolute;
  top: 257px;
  width: 25px;
}

.loginpage .text-wrapper-3 {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 17px;
  font-weight: 200;
  left: 120px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 256px;
}

.loginpage .keyboard {
  height: 25px;
  left: 86px;
  position: absolute;
  top: 373px;
  width: 25px;
}

.loginpage .text-wrapper-4 {
  color: #000000;
  font-family: "Inter-ExtraLight", Helvetica;
  font-size: 17px;
  font-weight: 200;
  left: 122px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 373px;
}
